.wrapper_swiper {
  margin: 0 auto;
  width: 1350px;
}

.container{
  background-color: white;
  width: 426px;
  height: 143px;
  display: flex;
  padding: 8px;
  gap: 10px;
}

.image {
  // width: 100%;
  width: 127px;
  max-width: 127px;
  height: 127px;
  background-color: cadetblue;
  border-radius: 10px;
}

.size_text_container {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.type_tittle {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #43525a;
  hyphens: auto;
}

.type_text {
  line-height: 17px;
  font-size: 14px;
  color: #99a1a6;
  hyphens: auto;
}

.wrapper_swiper {
  :global(.swiper-button-next) {
    opacity: 0.5;
    background-color: white;
    height: 127px;
    width: 50px;
    top: 3rem;
    right: 22px;
}
:global(.swiper-button-next:after) {
  font-size: 25px;

}
:global(.swiper-button-prev) {
  opacity: 0.5;
  background-color: white;
  left: 7px;
  height: 127px;
  width: 50px;
  top: 3rem;
}

  :global(.swiper-button-prev:after) {
    font-size: 25px;
  }

}
