.content {
  flex-basis: 65%;
  margin-bottom: 24px;

  &__title {
    font-family: Ubuntu,sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: #00537a;
  }

}
