.wrapper {
  width: 100%;
  background-image: url('../../../assets/front/img-f40c5c.jpg');
}

.container {
  width: 1350px;
  display: flex;
  margin: 0 auto;
  padding: 100px 0;
  gap: 5rem;
}

.size_image{
  width: 100px;
}

.text {
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
