.wrapper {
  width: 100%;
  background-image: url('../../assets/front/main2.png');
}

.navigation_container {
  width: 100%;
  background-color: white;
}

.navigation {
  width: 1350px;
  margin: 0 auto;
}
