@import '../../common/styles.scss';

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px 0 20px;
  background-color: rgb(247, 252, 255);
  padding: 20px;

  &__wrap {
    width: 1350px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__pages {
    display: flex;
    gap: 20px;
  }

  &__page {
    font-family: Ubuntu,sans-serif;
    font-size: 22px;
    line-height: 24px;
    color: #00537a;
    font-weight: 400;
    text-decoration: none;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }

  &__page[data-visible="true"] {
    border-bottom: 3px #e31837 solid;
  }
 }

.main {
  flex: 2;
}

.statistics {
  flex: 1;

  &__context {
    padding-top: 10px;
  }

  &__message {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    text-align: center;
  }

  &__item {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    text-align: center;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;

  &__title {
    font-family: Ubuntu,sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: inherit;
    margin-top: 0;
    margin-bottom: 0;
    color: #00537a;
  }
}

.btnSave {
  @extend %btn;
  background: #e31837;
  color: #fff;
}

.btnMenu {
  @extend %btn;
  background: #0079ae;
  margin-top: 8px;
}

.order,
.users {
  @extend %profileGroup;

  &__title {
    @extend %profileGroup__title;
  }

  &__content {
    @extend %profileGroup__content;
  }

  table {
    width: 100%;
  }

  th {
    font-family: Ubuntu,sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #252a2c;

    padding: 4px 10px 4px 10px;
    text-align: left;

    cursor: pointer;
    background-color: #b6b6b6;
  }

  tr {
    border: 1px rgb(188, 188, 188) solid;
    margin-top: 20px
  }

  tr:nth-child(2n + 1) {
    background-color: #f7f5f5;
  }

  td {
    font-family: Ubuntu,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #5a5a5a;
    padding: 4px 10px 4px 10px;

    text-align: left;
  }

  &__status {
    width: 100%;
    height: 25px;

    text-transform: uppercase;

    border: none;
    cursor: pointer;
  }

  &__status[data-status="Created"] {
    color: hsl(66, 100%, 61%) !important;
    background-color: #fc2727ee;
  }

  &__status[data-status="Processed"] {
    color: hsl(0, 54%, 30%) !important;
    background-color: #ff7300;
  }

  &__status[data-status="Delivery"] {
    color: hsl(86, 94%, 25%) !important;
    background-color: #fffb00;
  }

  &__status[data-status="Completed"] {
    color: #dcf30d !important;
    background-color: #29ad29;
  }
}

.order[data-visible="false"],
.users[data-visible="false"] {
  display: none;
}

.bonus {
  @extend %profileGroup;

  &__title {
    @extend %profileGroup__title;
  }

  &__content {
    @extend %profileGroup__content;
  }

  &__icon {
    width: 16px;
    height: 16px;
    color: #00537a;
  }

  &__text {
    font-size: 16px;
    margin: 16px 16px 16px 0;
    padding: 4px 0;
    line-height: 27px;
    font-family: Ubuntu,sans-serif;
    font-size: 18px;
    color: #43525a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   }

   &__date {
     margin: 0 16px 0 16px;
   }

   &__count{
    margin: 16px 0 16px 16px;
    padding: 4px 0;
    font-family: Ubuntu,sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #00537a;
    white-space: nowrap;
   }

   &__mark {
    color: #00537a;
   }

}

.save {
  @extend %profileGroup;
}


